*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 4%;
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

form {
    font-size: 4vh;
    font-weight: bold;
}

input {
     font-size: 3vh;
}

button {
    font-size: 3vh
}

pre {
    margin: 0;
}

.title {
    font-size: 6vh;
}

.fileForm {
    padding-top: 3vh;
}

.fileDiv {
    display: flex;
    flex-direction: column;
    padding: 0 60vw 4vh 2vw
}

.operationStatus{
    display: grid;
    grid-template-columns: 5% auto;
    padding: 0 0 0 2vw;

    line-height: 1;
    background-color: rgb(198, 198, 198);

    border-style: solid;
    border-width: 2px;
    border-color: rgb(104, 104, 104);
}

#loadingText {
    font-weight: bold;
}

.operationText {
    margin: 1.5vh;
}

.loadingBarParent {
    height: 10px;

    border-style: solid;
    border-top-style: none;
    border-width: 2px;
    border-color: rgb(104, 104, 104);
}

.loadingBar {
    height: 100%;
    width: 0%;
    background-image: linear-gradient(to bottom, rgb(0, 200, 50), rgb(0, 128, 32));
}

.info {
    position: fixed;
    bottom: 0;

    color: rgb(152, 152, 152);
}